**/.git
**/.gitignore

**/bin/
**/obj/

**/.vs/
**/.vscode/
**/*.user
**/*.suo

**/.env
**/.env.*
**/appsettings.Development.json
**/secrets/
**/*.pfx
**/*.pem
**/*.key

**/Thumbs.db
**/.DS_Store

**/Dockerfile*
**/docker-compose*

**/nuget.config